devel/
logs/
build/
bin/
lib/
bags/
output/*.png
output/*.txt
*/__pycache__/*
output/map_data/
.catkin_tools/
#.vscode/
src/.rosinstall
src/.rosinstall.bak
*.pcd
*.ot
# *.png
*.zip
*.pyc

src/aslam_cv2
src/ethzasl_apriltag2
src/pangolin
src/catkin_boost_python_buildtool
src/filtered_cloud_publisher
src/protobuf_catkin
src/catkin_simple
src/gflags_catkin
src/robopt_open
src/ceres_catkin
src/glog_catkin
src/suitesparse
src/minkindr
src/vision_opencv
src/doxygen_catkin
src/numpy_eigen
src/yaml_cpp_catkin
src/eigen_catkin
src/opencv3_catkin
src/eigen_checks
src/opengv
src/covins/scripts/results/*
src/covins/covins_backend/output/*
Semantic_Collaborative_Mapping_Thesis_Report.pdf
semantic_segmentation/shared_data/engines/*
