<?xml version="1.0"?>
<launch>
<node name="covins_filtered_cloud_publisher_node" pkg="covins_backend" type="covins_filtered_cloud_publisher_node" />
<node pkg="rviz" type="rviz" name="rviz" args="-d /home/appuser/COVINS_demo/src/covins/covins_backend/config/covins_with_clients.rviz"/>
<node pkg="rqt_bag" type="rqt_bag" name="rqt_bag" args="-t /home/appuser/COVINS_demo/bags/covins_full_2022_11_16_10_08_good_with_init.bag"/>
</launch>
